<!DOCTYPE html>
<html>
  <head>
    <title>Pokétunes</title>
    <link href="https://upload.wikimedia.org/wikipedia/fr/thumb/6/6d/Looney_Tunes_Logo.png/330px-Looney_Tunes_Logo.png" rel="shortcut icon" type="text/css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
